/* .last{
    background-color: black;
} */

.btna{
    background-color: rgb(123, 203, 74);
    border: none;
    border-radius: 5px;
}
.btnb{
    border-radius: 5px;
}
.bgdarka{
    background: #000;
    border-radius: 20px 20px 0px 0px;color: white;
}